<!-- dl>(dt+dd)*3 -->

<dl [id]="playlist.id" [title]="playlist.name" [attr.data-id]="playlist.id">
  <dt>Name:</dt>
  <dd>{{ playlist.name }}</dd>

  <dt>Favorite:</dt>
  <dd [style.fontSize.px]="20">
    {{ playlist.favorite ? "Yes" : "No" }}
  </dd>

  <dt>Color</dt>
  <dd
    [ngStyle]="{
      color: playlist.color,
      backgroundColor: playlist.color
    }"
  >
    {{ playlist.color }}
  </dd>
</dl>

<input type="button" value="Edit" (click)="onEdit()" class="btn btn-info" />
