<div class="row">
  <div class="col">
    <app-items-list
      [items]="playlistsChange | async"
      [selected]="selectedPlaylistChanges | async"
      (selectedChange)="select($event)"
    >
    </app-items-list>
  </div>

  <div class="col">
    <router-outlet></router-outlet>

    <ng-container *ngIf="selectedPlaylistChanges | async as selected; else notSelected">
      

    </ng-container>

    <ng-template #notSelected>
      <p>Please select playlist</p>
    </ng-template>
  </div>
</div>
