<form #formRef="ngForm" (ngSubmit)="onSave(formRef)">
  <div class="form-group">
    <label>Name:</label>
    <input
      type="text"
      class="form-control"
      [ngModel]="playlist.name"
      name="name"
      #nameRef="ngModel"
    />
    {{ playlist.name }}
  </div>

  <div class="form-group">
    <label>Favorite:</label>
    <input type="checkbox" [ngModel]="playlist.favorite" name="favorite" />
  </div>

  <div class="form-group">
    <label>Color:</label>
    <input type="color" [ngModel]="playlist.color" name="color" />
  </div>
  
  <input
    type="button"
    value="Cancel"
    (click)="onCancel()"
    class="btn btn-danger"
  />
  
  <input
    type="submit"
    value="Save"
    class="btn btn-success"
  />
</form>
