<div class="form-group mb-3" [formGroup]="queryForm">
  <input
    type="text"
    class="form-control"
    placeholder="Search"
    formControlName="query"
  />

  <ng-container *ngIf="queryForm.get('query') as field">
    <ng-container *ngIf="field.dirty || field.touched">
      <p *ngIf="field.hasError('required')">
        Field is required
      </p>

      <p *ngIf="field.getError('minlength') as error">
        Minimum length is {{ error.requiredLength }}
      </p>

      <p *ngIf="field.getError('censor') as error">
        Cant use text {{ error.censored }}
      </p>
    </ng-container>
  </ng-container>

  <!-- <form-feedback [field]="queryForm.get('query')">
  </form-feedback> -->
</div>
