/* You can add global styles to this file, and also import other style files */

// .placki{
//   color:red;
// }

// $black:red;
// $enable-rounded: false;

// @import "~bootstrap/scss/functions";
// @import "~bootstrap/scss/variables";
// @import "~bootstrap/scss/mixins";

// @import "~bootstrap/scss/root";
// @import "~bootstrap/scss/reboot";

// @import "~bootstrap/scss/grid";
// @import "~bootstrap/scss/tables";
// @import "~bootstrap/scss/forms";
// @import "~bootstrap/scss/buttons";

// @import "functions";
// @import "variables";
// @import "mixins";

// @import "root";
// @import "reboot";

// @import "grid";
// @import "tables";
// @import "forms";
// @import "buttons";