<!-- .row*2>.col -->

<div class="row">
  <div class="col">
    <app-search-field
      [query]="queryChanges | async"
      (queryChange)="search($event)"
    ></app-search-field>
  </div>
</div>

<div class="row">
  <div class="col">
    {{ message }}

    <ng-container *ngIf="albumChanges | async as albums">
      <p>Found {{ albums.length }} results</p>

      <app-albums-list [albums]="albums"></app-albums-list>
    </ng-container>



    <!-- <p>Found {{ (albumChanges | async)?.length }} results</p>

    <app-albums-list [albums]="albumChanges | async">
    </app-albums-list> -->
  </div>
</div>
